body {
	background: #000;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", serif;
}
h1 {
	font-family: 'PT Serif Caption', serif;
}
.container {
	width: 995px;
	max-width: 995px;
	margin: 0 auto;
	background: url("../img/bg.jpg");
}

.main {
	background: url("../img/main.jpg");
	border-radius: 5px;
	height: 300px;
	max-height: 300px;
}

.form {
	width: 350px;
	float: right;
}
.form form {
	margin: 80px 130px;
}
.form p {
	margin: 25px 0;
}
.form input {
	width: 170px;
	height: 30px;
	border: 0;
	background: transparent;
}
.form input[type=submit] {
	margin-left: 30px;
	height: 35px;
	width: 160px;
}

.offer {
	width: 500px;
	float: left;
	padding: 5px 20px;
}
.offer ul {
	font-size: 16pt;
	list-style-image: url("../img/check.png");
}
.offer ul p {
	margin: 5px;
}

.why {
	background: #fff;
	border-radius: 5px;
	padding: 20px 0;
	margin-top: 0;
}

.clear {
	clear: both;
	height: 1px;
	margin: 1px;
	padding: 1px;
}
#footer {
	margin-top: 40px ;
	background: #242424;
	color: #999;
	border-top: 5px dotted #646464;
	padding-bottom: 5px;
}
#footer p {
	width: 1000px;
	margin: 10px auto;
	padding: 10px;
	display: block;
}